/*
for Desktops/Laptops
*/

@media only screen and (min-width: 761px) {
    table {
        width: 75%;
        border-collapse: collapse;
        margin: 0px auto;
    }

    th {
        background: #333;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border: 1px solid #ccc;
        text-align: left;
    }

    body {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

    #row:hover {
        background-color: lightgray;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 300px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    td:hover{
        background-color: lightgray;
    }

    table {
        width: 100%;
        height: 100%;

    }

    html, body {
        height: 100%;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid darkgray;
        padding: 20px;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        /*border-bottom: 1px solid #eee;*/
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Change the labeling
    */
    td:nth-of-type(1):before {
        content: "Name";
    }

    td:nth-of-type(2):before {
        content: "Price";
    }

    body {
        font-family: 'Roboto', sans-serif;
        text-align: left;
    }

}

@media (min-device-width: 300px) and (max-device-width: 1024px){
body {
        font-size: 40pt;
        font-family: 'Roboto', sans-serif;
    }
}