{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "printWidth": 160,
  "proseWrap": "never",
  "useTabs": true
}
