<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>wave_challenge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FEAB4DCF1E944CF10075CE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAB4DE61E944CF20075CE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEAB4DF11E944CF20075CE4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
